@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa');

@font-face {
    font-family: 'Europa-Light';
    src: local('Europa-Light'), url(./fonts/europa-light-webfont.ttf) format('ttf');
}

@layer base {
    html, body, #root {
        @apply h-full;
    }
    body {
        @apply font-europa-light;
    }
    h1,h2,h3 {
        @apply font-europa;
    }
    h1 {
        @apply font-bold;
        font-size: 60px;
    }
}

@layer utilities {
    .bg-navy-salt {
        background-color: #28283D;
    }
    .bg-green-salt {
        background-color: #00FFBD;
    }
    .text-green-salt {
        color: #00FFBD;
    }
    .text-navy-salt {
        color: #28283D;
    }
    .border-green-salt {
        border-color: #00FFBD;
    }
    .border-navy-salt {
        border-color: #28283D;
    }
}